{% extends "template.html.twig" %}

{% block title %}{{ genre_du_film }}
{% endblock %}

{% block body %}
	<h1>{{ genre_du_film }}</h1>

		<div class="container">
			<div class="row col-md-12">
			{% for MoviesByGenre in MoviesByGenres %}
				<div class="col-md-4">
					<a href="{{baseUrl}}/genres/show/{{ film.id_f }}"><img class="img-thumbnail" src="{{ film.poster_f }}" alt="image film"/>{{result.id_a}}</a>
				</div>
				{% endfor %}
			</div>
		</div>
	

{% endblock %}
