{% extends "template.html.twig" %}
{# enfant de actors #}

{% block body %}
{# {{ dump(listByGenres) }}#}





<div class="container">

		<div class="row"> <!-- Début row -->

			<div class="col-12 p-4 bg-light text-dark">
			
			<a href="{{ baseUrl }}/genres">Genres</a>	 → {{ MoviesByGenres.genre_du_film }}
 
			</div> 

		</div>

	</div>

    <div class="container bg-light text-dark mt-1 mb-3">

    <h1>{{ MoviesByGenres.genre_du_film }} Movies</h1>

        <a href="{{baseUrl}}/films/add" class="float-right btn btn-sm btn-success">Ajouter un film</a> 

        <div class="container d-flex flex-row">
			<div class="row col-9">

        {% for film in listByGenres %}

            <div class="col-3">

                <a href="{{baseUrl}}/films/show/{{ MoviesByGenres.id_f }}">
                
                    <img class="img-thumbnail" src="{{baseUrl}}/assets/images/films/{{ MoviesByGenres.poster_f }}" alt="image film"/>
                    
                   
                    
                </a>
                {% endfor %}

            </div>
            <div class="col-3">
				Filtre
				<br><br><br>
				{% for genre in genres %}

					

						<a href="{{baseUrl}}/genres/list/{{ genre.id_g }}">

							{{ genre.genre_du_film  }}


						</a><br><br>

					


				{% endfor %}

            

        </div>

    </div>

{% endblock %}
