{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block meta %}

    <meta name="description" content="Tous les réalisateurs et acteurs du cinéma">
    <meta name="keywords" content="cinema, films, acteurs, réalisateurs">

{% endblock %}

{% block body %}

	<div class="container">

		<div class="row"> <!-- Début row -->

			<div class="col-12 p-4 bg-light text-dark">
			
				<a href="{{ baseUrl }}/AmericanMovies/films/">Films</a>
				&rarr; Acteurs
 
			</div> 

		</div>

	</div>

	<div class="container bg-light text-dark mt-1">

		<h1>Acteurs - Listing de tous les acteurs du site</h1>

		<div class="row col-md-12">

		{% for actor in actors %}

			<div class="col-md-4">

				<a href="{{ baseUrl }}/artistes/show/{{ actor.id_a }}"><img class="img-thumbnail" src="{{ baseUrl }}/assets/images/artistes/{{ actor.photo_a }}" alt="image actors"/></a>

			</div>

		{% endfor %}

		</div>

	</div>

	<div class="container bg-light text-dark mt-4 mb-3">

		<h1>Réalisateurs - Listing de tous les réalisateurs du site</h1>

		<div class="row col-md-12">

		{% for realisator in realisators %}

			<div class="col-md-4">

				<a href="{{ baseUrl }}/artistes/show/{{ realisator.id_a }}"><img class="img-thumbnail" src="{{ baseUrl }}/assets/images/artistes/{{realisator.photo_a }}" alt="image realisateur"/></a>

			</div>

		{% endfor %}

		</div>

	</div>


{% endblock %} 