{% extends "template.html.twig" %}
{# enfant de films #}

{% block title %}Films
{% endblock %}

{% block body %}

    {% set admin = '1' %}

    {% if admin %}

        <div class="container">

            <div class="row"> <!-- Début row -->

                <div class="col-12 p-4 bg-light text-dark">
                
                    <a href="{{ baseUrl }}/films/">Films</a>
                        &rarr; Add
                        
                </div> 

            </div>

        </div>

        <div class="container bg-light text-dark mb-5 pt-3 pb-3">

            <h3>Ajout Film</h3>
            <form method="post" action="{{ baseUrl }}/films/insert" enctype="multipart/form-data">

                {# ##########################################################################################################
                ######## Titre ############################################################################################
                ########################################################################################################## #}

                <div>Titre : </div>
                <div><input type="text" name="titre" class="form-control"></div>

                {# ##########################################################################################################
                ######## Affiche #########################################################################################
                ########################################################################################################## #}

                <div style="margin-top:20px;">Affiche : </div>
                <div><input type="file" name="poster" accept="image/png, image/jpeg" class="form-control" style="height:50px;"></div>

                {# ##########################################################################################################
                ######## Date ############################################################################################
                ########################################################################################################## #}

                <div style="margin-top:20px;">Année De Sortie : 
                <div><input type="text" name="annee" class="form-control"></div>

                {# #############################################################################################
                ######### Réalisateur #######################################################################
                ############################################################################################# #}

                <div style="margin-top:20px;">Réalisateur :</div>

                <div>
                
                    <select name="realisateurs[]" class="form-control">

                        {% for realisateur in result.allrealisateurs %}
    
                            <option value="{{ realisateur.id_a }}" >{{ realisateur.prenom_a|title }} {{ realisateur.nom_a|title }}</option>

                        {% endfor %}

                    </select>
                
                </div>

                {# #############################################################################################
                ######### Acteurs ###########################################################################
                ############################################################################################# #}

                <div style="margin-top:20px;">Acteurs : </div>

                <div>

                    <select name="acteurs[]" class="form-control" multiple="multiple">

                        {% for acteur in result.allacteurs %}

                            <option value="{{ acteur.id_a }}" >{{ acteur.prenom_a|title }} {{ acteur.nom_a|title }}</option>

                        {% endfor %}

                    </select>
                
                </div>

                {# #############################################################################################
                ######### Genre #############################################################################
                ############################################################################################# #}

                <div style="margin-top:20px;">Genre : </div>

                <div>

                    <select name="genres[]" class="form-control" multiple="multiple">
    
                        {% for genre in result.allgenres %}

                            <option value="{{ genre.id_g }}" >{{ genre.genre_du_film|title }}</option>

                        {% endfor %}

                    </select>

                </div>

                {# ##########################################################################################################
                ######## Vidéo ############################################################################################
                ########################################################################################################## #}

                <div style="margin-top:20px;">Bande Annonce : 
                <div><input type="text" name="video" class="form-control"></div>

                {# #############################################################################################
                ######### Synopsis ##########################################################################
                ############################################################################################# #}

                <div style="margin-top:20px;">Synopsis : </div>

                <div><textarea name="resume" class="form-control" rows="10"></textarea></div>

                {# ##########################################################################################################
                ######## Submit ############################################################################################
                ########################################################################################################## #}

                <div style="text-align:center; margin-top:20px;">

                    <input type="submit" class="btn btn-success mr-1" value="valider">

                </div>

                {# #############################################################################################
                #############################################################################################
                ############################################################################################# #}

            </form>

        </div>

    {% else %}

        <div class="block-centre">Vous n'avez pas les droits pour afficher cette page</div>

    {% endif %}

{% endblock %}
