{% extends "template.html.twig" %}
{# enfant de films #}

{% block title %}Edition Genre{% endblock %}

{% block body %}

    {% if admin %}
    
		{% if result.id_g %}

			<div class="container">

                <div class="row"> <!-- Début row -->

                    <div class="col-12 p-4 bg-light text-dark">
                    
                        <a href="{{ baseUrl }}/films/">Films</a>
                         &rarr; <a href="../../films?genre={{ result.id_g }}">{{ result.genre_du_film|title }}</a>
                         &rarr; Edition Genre
                         
                    </div> 

                </div>

            </div>

			<div class="container bg-light text-dark mb-5 pt-3 pb-3">

                <h3>Edition Genre : {{ result.genre_du_film|title }}</h3>
				<form method="post" action="{{ baseUrl }}/films/updategenre/{{ result.id_g }}" enctype="multipart/form-data">

					{# ##########################################################################################################
					######## Titre ############################################################################################
					########################################################################################################## #}

					<div>Titre : </div>
					<div><input type="text" name="titre" value="{{ result.genre_du_film|title }}" class="form-control"></div>

					{# ##########################################################################################################
					######## Submit ############################################################################################
					########################################################################################################## #}

					<div style="text-align:center; margin-top:20px;">

						<input type="submit" class="btn btn-success mr-1" value="Enregistrer les modifications">
						<a href="../../films/suppressiongenre/{{ result.id_g }}" class="btn btn-danger m-t-5" onclick="return confirm('Are you sure?')">Supprimer</a>

					</div>

					{# #############################################################################################
					#############################################################################################
					############################################################################################# #}

				</form>

			</div>

		{% else %}

			<div class="block-centre">Aucun résultat</div>

		{% endif %}

    {% else %}

        <div class="block-centre">Vous n'avez pas les droits pour afficher cette page</div>

    {% endif %}

{% endblock %}
