{% extends "template.html.twig" %}

{% block title %}Actors
{% endblock %}

{% block body %}
	<h1>Film</h1>

		<div class="container">
			<div class="row col-md-12">
			{% for film in films %}
				<div class="col-md-4">
					<a href="{{baseUrl}}/films/{{ film.id_f }}"><img class="img-thumbnail" src="{{ film.poster_f }}" alt="image film"/></a>
				</div>
				{% endfor %}
			</div>
		</div>
	

{% endblock %}


{# <div class="container">
		<div class="row">
			<div class="col-md-4">
			{% for film in films %}<a href="{{baseUrl}}/films/{{ film.id_f }}">Id films : {{ film.id_f }}</a>
				<!--<a href="{{baseUrl}}/films/{{ film.id_f }}" target="#">-->
					<img class="img-thumbnail" src="assets/images/grantorino.jpg" alt="gran torino"/>
			{% endfor %}
			</div>
			<div class="col-md-4">
				<a href="#" target="_blank">
					<img class="img-thumbnail" src="assets/images/thematrix.jpg" alt="the matrix"/>
				</a>
			</div>
		<!--	<div class="col-md-4">
				One of three columns
			</div>
		</div>-->
	</div> #}
