{% extends "template.html.twig" %}

{% block title %}Ajout D'un Artiste{% endblock %}

{% block meta %}

    <meta name="description" content="">
    <meta name="keywords" content="">

{% endblock %}

{% block body %}

	{% if admin %}

		<!-- add artiste -->
		<section class="home">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-12 col-xl-12">
						<div class="row">
							<!-- section title -->
							<div class="col-12">
								<h2 class="section__title">Ajout D'un Artiste</h2>
							</div>
							<!-- end section title -->

							<div class="col-12">
								<form method="post" action="{{ baseUrl }}/artists/insert" enctype="multipart/form-data" class="form form--contacts">

									<label class="profile__label" for="prenom">Prenom</label>
									<input type="text" class="form__input" name ="prenom" value="" placeholder="Prenom">

									<label class="profile__label" for="nom">Nom</label>
									<input type="text" class="form__input" name ="nom" value="" placeholder="Nom">

									<label class="profile__label" for="date_de_naissance">Date De Naissance</label>
									<input type="text" class="form__input" name="date_de_naissance" value="" placeholder="YYYY-MM-DD">

									<label class="profile__label" for="photo">Photo</label>
									<input type="file" name="photo" accept="image/png, image/jpeg" class="form__input" style="padding:10px; line-height: 20px;">
	
									<label class="profile__label" for="biographie">Synopsis</label>
									<textarea id="text" name="biographie" class="form__textarea" placeholder="Biographie..."></textarea>

									{# ##########################################################################################################
									######## Catégories #########################################################################################
									########################################################################################################## #}

									<label class="profile__label" for="metier" style="margin-top:20px;">Catégories</label>
									<div class="p-2">

										{% for metier in result.allmetiers %}

											{% if metier.id_c in result.metiers %}

												<div style="color:white;"><input type="checkbox" name="metiers[]" class="metiers" value="{{ metier.id_c }}" id="jouer-{{ metier.id_c }}" checked> <label for="jouer-{{ metier.id_c }}"> {{ metier.nom_c|title }}</label></div>

											{% else %}

												<div style="color:white;"><input type="checkbox" name="metiers[]" class="metiers" value="{{ metier.id_c }}" id="realiser-{{ metier.id_c }}"> <label for="realiser-{{ metier.id_c }}"> {{ metier.nom_c|title }}</label></div>

											{% endif %}

										{% endfor %}
									
									</div>

									<div class="divider"></div> {# Séparateur #}

									{# #############################################################################################
									######### Joué en tant qu'acteur ###############################################################
									############################################################################################# #}

									<div id="select-films-1" style="display:none">

										<label class="profile__label" for="jouer" style="margin-top:20px;">Films dans lesquels l'artiste a <b>joué</b>:</label>

										<div class="specialCheck">

											{% for film in result.allfilms %}

												<div class="specialInput"><input type="checkbox" name="jouer[]" id="jouer-{{ film.id_f }}" class="jouer" value="{{ film.id_f }}"> <label for="jouer-{{ film.id_f }}">{{ film.titre_f|title }}</label></div>

											{% endfor %}
										
										</div>

									</div>

									{# #############################################################################################
									######### Réalisé en tant que réalisateur ######################################################
									############################################################################################# #}

									<div id="select-films-2" style="display:none">

										<label class="profile__label" for="realiser" style="margin-top:20px;">Films <b>réalisé</b> par l'artiste:</label>

										<div class="specialCheck">
										
											{% for film in result.allfilms %}

												<div class="specialInput"><input type="checkbox" name="realiser[]" id="realiser-{{ film.id_f }}" class="realiser" value="{{ film.id_f }}"> <label for="realiser-{{ film.id_f }}">{{ film.titre_f|title }}</label></div>

											{% endfor %}

										</div>

									</div>

									<div class="col-12 d-flex justify-content-center">

										<input type="submit" class="form__btn" value="Enregistrer">

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<!-- end add artiste -->

	{% else %}

		<div>Vous n'avez pas les droits pour afficher cette page</div>

	{% endif %}

{% endblock %}