{% extends "template.html.twig" %}
{# enfant de artists #}

{% block title %}Add Artiste
{% endblock %}

{% block body %}

    {% set admin = '1' %}

    {% if admin %}

        <div class="container">

            <div class="row"> <!-- Début row -->

                <div class="col-12 p-4 bg-light text-dark">
    
                    <a href="{{ baseUrl }}/films">Films</a>
                    &rarr; <a href="{{ baseUrl }}/artists/">Artistes</a>
                    &rarr; Add
                        
                </div> 

            </div>

        </div>

        <div class="container bg-light text-dark mb-5 pt-3 pb-3">

            <h3>Ajout Artiste</h3>
            <form method="post" action="{{ baseUrl }}/artists/insert" enctype="multipart/form-data">

                {# ##########################################################################################################
                ######## Nom Prenom #########################################################################################
                ########################################################################################################## #}

                <div>Prenom : </div>
                <div><input type="text" name="prenom" class="form-control"></div>

                <div>Nom : </div>
                <div><input type="text" name="nom" class="form-control"></div>

                {# ##########################################################################################################
                ######## Date De Naissance ##################################################################################
                ########################################################################################################## #}

                <div style="margin-top:20px;">Date De Naissance : 
                <div><input type="text" name="date_de_naissance" class="form-control" placeholder="YYYY-MM-DD"></div>

                {# #############################################################################################
                ######### Catégorie ##########################################################################
                ############################################################################################# #}

                {# ######################################  realiser  #######################################################}

                <div style="margin-top:20px;">Réaliser :</div>

                <div>
                
                    <select name="realiser[]" class="form-control" multiple="multiple">

                        <option selected>Selectionnez les films réalisés</option>

                        {% for film in result.allfilms %}
    
                            <option value="{{ film.id_f }}"> {{ film.titre_f|title }} </option>

                        {% endfor %}

                    </select>
                
                </div>

                {# ######################################  Jouer  #######################################################}

                <div style="margin-top:20px;">jouer :</div>

                <div>
                
                    <select name="jouer[]" class="form-control" multiple="multiple">
                    
                        <option selected>Selectionnez les films réalisés</option>

                        {% for film in result.allfilms %}
    
                            <option value="{{ film.id_f }}" >{{ film.titre_f|title }}</option>

                        {% endfor %}

                    </select>
                
                </div>

                {# #############################################################################################
                ######### Biographie ##########################################################################
                ############################################################################################# #}

                <div style="margin-top:20px;">Biographie : </div>

                <div><textarea name="biographie" class="form-control" rows="10"></textarea></div>

                {# ##########################################################################################################
                ######## Photo ##############################################################################################
                ########################################################################################################## #}

                <div style="margin-top:20px;">Photo : </div>
                <div><input type="file" name="photo" accept="image/png, image/jpeg" class="form-control" style="height:50px;"></div>

                {# ##########################################################################################################
                ######## Submit ############################################################################################
                ########################################################################################################## #}

                <div style="text-align:center; margin-top:20px;">

                    <input type="submit" class="btn btn-success mr-1" value="valider">

                </div>

                {# #############################################################################################
                #############################################################################################
                ############################################################################################# #}

            </form>

        </div>

    {% else %}

        <div class="block-centre">Vous n'avez pas les droits pour afficher cette page</div>

    {% endif %}

{% endblock %}
