{% extends "template.html.twig" %}

{% if categorie.id == 1 %} 

	{% set titlePage = 'Acteurs' %} 
	
{% elseif categorie.id == 2 %} 

	{% set titlePage = 'Réalisateurs' %} 
	
{% elseif categorie.id == 2 %}

	{% set titlePage = 'Artistes' %} 
	
{% endif %}

{% block title %}{{ titlePage }}{% endblock %}

{% block meta %}

    <meta name="description" content="Tous les réalisateurs et acteurs du cinéma">
    <meta name="keywords" content="film, cinéma, acteurs, réalisateurs, biographie">

{% endblock %}

{% block body %}

	<!-- home -->
	<section class="home">
		<div class="content__head">
			<div class="container">

				<div class="row">

					<div class="col-12">

						<!-- section title -->
						<h2 class="section__title">
						
							Artistes
						
						</h2>
						<!-- end content title -->

							<!-- content tabs nav -->
							<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
								<li class="nav-item">
									{% if categorie.id == 1 %} {% set active = 'active' %} {% else %} {% set active = '' %} {% endif %}
									<a href="{{ baseUrl }}/artists/1" class="nav-link {{active}}">Acteurs</a>
								</li>

								<li class="nav-item">
									{% if categorie.id == 2 %} {% set active = 'active' %} {% else %} {% set active = '' %} {% endif %}
									<a href="{{ baseUrl }}/artists/2" class="nav-link {{active}}">Réalisateurs</a>
								</li>

							</ul>
							<!-- end content tabs nav -->

							<!-- content mobile tabs nav -->
							<div class="content__mobile-tabs" id="content__mobile-tabs">
								<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input type="button" value="Acteurs">
									<span></span>
								</div>

								<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
									<ul class="nav nav-tabs" role="tablist">
										<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Acteurs</a></li>

										<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Réalisateurs</a></li>

									</ul>
								</div>
							</div>
							<!-- end content mobile tabs nav -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container bg-light text-dark mt-5">

			<div class="row col-md-12">

				{% if listes %}

					{% for list in artistes %}

						<!-- card -->
						<div class="col-6 col-sm-4 col-md-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ baseUrl }}/assets/images/artistes/{{ list.photo_a }}" alt="">
									<a href="{{ baseUrl }}/artists/{{ categorie.id }}/show/{{ list.id_a }}/{{ list.url }}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
									<span class="card__rate card__rate--green">7.9</span>
									
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{{ baseUrl }}/artists/{{ categorie.id }}/show/{{ list.id_a }}">{{ list.prenom_a }} {{ list.nom_a }}---</a></h3>
									<span class="card__category">
										<a href="#">{{ list.nom_c }}</a>
										{# <a href="#">Drama</a> #}
									</span>
								</div>
							</div>
						</div>
						<!-- end card -->

					{% endfor %}

				{% endif %} 

			</div>

		</div>

	</section>

</section>

{% endblock %} 