{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block body %}

	<div class="container">

		<div class="row"> <!-- Début row -->

			<div class="col-12 p-4 bg-light text-dark">
			
				<a href="{{ baseUrl }}/films/">Films</a>
				&rarr; <a href="{{ baseUrl }}/artists">Artistes</a>
 				&rarr; {{ categorie.nom|title }}
			</div> 

		</div>

	</div>

	<div class="container bg-light text-dark mt-1">

		{% if admin %}

			<a href="{{baseUrl}}/artists/add" class="float-right btn btn-sm btn-success">Ajouter un artiste</a> 

		{% endif %} 
		
		<h1>{{ categorie.nom|title }} - Listing de tous les {{ categorie.nom }} du site</h1>

		<div class="row col-md-12">

		{% for list in listes %}

			<div class="col-md-4">

				<a href="{{ baseUrl }}/artists/{{ categorie.id }}/show/{{ list.id_a }}"><img class="img-thumbnail" src="{{ baseUrl }}/{{ list.photo_a }}" alt="image actors"/></a>

			</div>

		{% endfor %}

	</div>

{% endblock %} 