{% extends "template.html.twig" %}
{# enfant de artists #}

{% block title %}Edition Artiste
{% endblock %}

{% block body %}

	{% set admin = '1' %}

	{% if admin %}

		<div class="container">

			<div class="row"> <!-- Début row -->

				<div class="col-12 p-4 bg-light text-dark">
				
					<a href="{{ baseUrl }}/films">Films</a>
					&rarr; <a href="{{ baseUrl }}/artists/">Artistes</a>
					&rarr; Edition
						
				</div> 

			</div>

		</div>

		<div class="container bg-light text-dark mb-5 pt-3 pb-3">

			<h3>Edition Artiste</h3>
			<form method="post" action="{{ baseUrl }}/artists/update/{{ result.id_a }}" enctype="multipart/form-data">

				{# ##########################################################################################################
				######## Nom Prenom #########################################################################################
				########################################################################################################## #}

				<div>Prenom : </div>
				<div><input type="text" name="prenom" class="form-control" value="{{ result.prenom_a }}" required></div>

				<hr></hr> {# Séparateur #}

				<div>Nom : </div>
				<div><input type="text" name="nom" class="form-control" value="{{ result.nom_a }}" required></div>

				<hr></hr> {# Séparateur #}

				{# ##########################################################################################################
				######## Photo ##############################################################################################
				########################################################################################################## #}

				<div style="margin-top:20px;">Photo : <br>

					{% if result.photo_a %}

					<img src="{{ baseUrl }}/assets/images/artistes/{{ result.photo_a }}" style="max-height:200px;">

					{% endif %}
   
				</div>
		
				<div><input type="file" name="newphoto" accept="image/png, image/jpeg" class="form-control" style="height:50px;"></div>
				<div><input type="hidden" name="photo" class="form-control" value="{{ result.photo_a }}"></div>

                <hr></hr> {# Séparateur #}

				{# ##########################################################################################################
				######## Date De Naissance ##################################################################################
				########################################################################################################## #}

				<div style="margin-top:20px;">Date De Naissance : 
				<div><input type="text" name="date_de_naissance" class="form-control" placeholder="YYYY-MM-DD" value="{{ result.date_de_naissance_a }}"></div>

                <hr></hr> {# Séparateur #}

				{# #############################################################################################
				######### Biographie ##########################################################################
				############################################################################################# #}

				<div style="margin-top:20px;">Biographie : </div>

				<div><textarea name="biographie" class="form-control" rows="10">{{ result.biographie_a }}</textarea></div>

                <hr></hr> {# Séparateur #}

				{# ##########################################################################################################
				######## Catégories #########################################################################################
				########################################################################################################## #}

				<div style="margin-top:20px;">Catégories</div>

				<div class="p-2">

					{% for categorie in result.allcategories %}

						{% if categorie.id_c in result.categories %}

							<div><input type="checkbox" name="categories[]" class="categories" value="{{ categorie.id_c }}" id="jouer-{{ film.id_f }}" checked> <label for="jouer-{{ film.id_f }}"> {{ categorie.nom_c|title }}</label></div>

						{% else %}

							<div><input type="checkbox" name="categories[]"  class="categories" value="{{ categorie.id_c }}" id="realiser-{{ film.id_f }}"> <label for="realiser-{{ film.id_f }}"> {{ categorie.nom_c|title }}</label></div>

						{% endif %}

					{% endfor %}
				
				</div>

				<hr></hr> {# Séparateur #}

				{# ######################################  Réaliser  #######################################################}

				{% if result.film_realiser %}

					{% set display = 'block' %}

				{% else %}

					{% set display = 'none' %}
					
				{% endif %}

				<div id="select-films-2" style="display:{{ display }}">

					<div style="background:#eee; padding:5px 10px; margin-top:20px; font-size:20px;">Films <b>réalisé</b> par {{ result.prenom_a }} {{ result.nom_a }}:</div>

					<div style="padding:10px; height:200px; overflow:auto; background: #C2E7E9;">
									
						{% for film in result.allfilms %}

							{% if film.id_f in result.film_realiser %}

								<div><input type="checkbox" name="realiser[]" class="realiser" value="{{ film.id_f }}" checked> {{ film.titre_f|title }}</div>

							{% else %}

								<div><input type="checkbox" name="realiser[]" class="realiser" value="{{ film.id_f }}"> {{ film.titre_f|title }}</div>

							{% endif %}

						{% endfor %}
					
					</div>

					<hr></hr> {# Séparateur #}

				</div>

				{# ######################################  Jouer  #######################################################}

				{% if result.film_jouer %}

					{% set display = 'block' %}

				{% else %}

					{% set display = 'none' %}
					
				{% endif %}

				<div id="select-films-1" style="display:{{ display }}">

					<div style="background:#eee; padding:5px 10px; margin-top:20px; font-size:20px;">Films dans lesquels {{ result.prenom_a }} {{ result.nom_a }} a <b>joué</b>:</div>

					<div style="padding:10px; height:200px; overflow:auto; background: #E4C2E9;">
					
						{% for film in result.allfilms %}

							{% if film.id_f in result.film_jouer %}

								<div><input type="checkbox" name="jouer[]" class="jouer" value="{{ film.id_f }}" id="realiser-{{ film.id_f }}" checked> <label for="realiser-{{ film.id_f }}"> {{ film.titre_f|title }}</label></div>

							{% else %}

								<div><input type="checkbox" name="jouer[]" class="jouer" value="{{ film.id_f }}" id="realiser-{{ film.id_f }}"> <label for="realiser-{{ film.id_f }}"> {{ film.titre_f|title }}</label></div>

							{% endif %}

						{% endfor %}

					</div>

					<hr></hr> {# Séparateur #}

				</div>

				{# ##########################################################################################################
				######## Submit ############################################################################################
				########################################################################################################## #}

				<div style="text-align:center; margin-top:20px;">

					<input type="submit" id="submit-edition-artiste" class="btn btn-success mr-1" value="Enregistrer les modifications">

				</div>

				{# #############################################################################################
				#############################################################################################
				############################################################################################# #}

			</form>

		</div>

	{% else %}

		<div class="block-centre">Vous n'avez pas les droits pour afficher cette page</div>

	{% endif %}

{% endblock %}
