{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block meta %}

    <meta name="description" content="cinéma, acteurs, réalisateurs, biographie">
    <meta name="keywords" content="cinéma, acteurs, réalisateurs, biographie">

{% endblock %}

{% block body %}

<div class="home">

	<div class="container bg-light text-dark mt-1">

		<div class="row col-md-12">

			<a href="{{baseUrl}}/artists/1" style="color:#ffd80e; font-size:25px;">Acteurs<a>

		</div>

		<div class="row col-md-12">

			<a href="{{baseUrl}}/artists/2" style="color:#ffd80e; font-size:25px;">Réalisateurs<a>

		</div>

	</div>
<div>


<div class="container">

	<div class="row col-md-12">

	
						{% for artistes in artistes %}

						<!-- card -->
						<div class="col-6 col-sm-4 col-md-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{baseUrl}}/assets/images/artistes/{{artistes.photo_a }}" alt="">
									<a href="{{baseUrl}}/artists/show/{{ artistes.id_a }}/{{ artistes.url }}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
									<span class="card__rate card__rate--green">8.4</span>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{{baseUrl}}/artists/show/{{ artistes.id_a }}/{{ artistes.url }}">{{ artistes.photo_a }}</a></h3>
								</div>
							</div>
						</div>
						<!-- end card -->

					{% endfor %}

	</div>
</div>

{% endblock %} 