{% extends "template.html.twig" %}

{% block title %}{{ result.prenom_a|title }} {{ result.nom_a|title }}{% endblock %}

{% block meta %}

	<meta name="description" content="Toutes les infos sur {{ result.prenom_a|title }} {{ result.nom_a|title }}. Films, cinéma, biographie, date de naissance">
	<meta name="keywords" content="films, cinéma, acteur, réalisateur, biographie">

{% endblock %}

{% block body %}

	<!-- details -->
	<section class="section section--details section--bg" data-bg="img/section/section.jpg">
		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">

					{% if admin %}

						<span style="float:right;">
						
							<a href="{{baseUrl}}/artists/edition/{{ result.id_a }}" style="display:inline; padding:5px 10px; margin-right:5px;" class="profile__btn">edit</a>
							<a href="{{baseUrl}}/artists/suppression/{{ result.id_a }}" onclick="return confirm('Are you sure?')" class="profile__btn" style="display:inline; padding:5px 10px;">supprimer</a>

						</span>

					{% endif %}

				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-lg-12">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-5 col-lg-3 col-xl-3">
								<div class="card__cover">
									<img src="{{ baseUrl }}/assets/images/artistes/{{ result.photo_a }}" alt="">
									<span class="card__rate card__rate--green">8.4</span>
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-7 col-lg-9 col-xl-9">
								<div class="card__content">

									<h1 class="section__title">{{ result.prenom_a|title }} {{ result.nom_a|title }}</h1>

									<ul class="card__meta">

											{% if result.films_realiser %}

												<li><span>Films réalisés par {{ result.prenom_a|title }} {{ result.nom_a|title }} : </span> 
												
												{% for film in result.films_realiser %}
												
													<li><a href="{{ baseUrl }}/films/show/{{ film.id_f }}">{{ film.titre_f|title }}</a></li>

												{% endfor %}

											{% endif %}
 
											{% if result.films_jouer %}

												<li><span>Films dans lesquels {{ result.prenom_a|title }} {{ result.nom_a|title }} a joué :</span> 
									 
												{% for film in result.films_jouer %}

													<li><a href="{{ baseUrl }}/films/show/{{ film.id_f }}">{{ film.titre_f|title }}</a></li>

												{% endfor %}

											{% endif %}
										
										</li>

										<li><span>Date De Naissance:</span> {{ result.date_de_naissance_a }}</li>
										<li><span>Country:</span> <a href="#">USA</a></li>
									</ul>

									<div class="divider"></div> {# Séparateur #}

									<h1 class="section__title" style="font-size:25px;">Biographie</h1>

									<div class="card__description">

										{{ result.biographie_a|raw }}

									</div>

								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

{% endblock %}