{% extends "template.html.twig" %}
{# enfant de actors #}

{% block body %}

	<div class="container">

		<div class="row"> <!-- Début row -->

			<div class="col-12 p-4 bg-light text-dark">
			
				<a href="{{baseUrl}}/films/">Films</a>
				&rarr; <a href="{{baseUrl}}/artists">Artistes</a>
				&rarr; <a href="{{baseUrl}}/artists/{{ categorie.id }}">{{ categorie.nom|title }}</a>
 				&rarr; {{ result.nom_a|title }}  {{ result.prenom_a|title }}

			</div> 

		</div>

	</div>

	<div class="container bg-light text-dark mt-1 mb-2">

        <!-- ##### MODERATION ##### -->
        {% if admin %}

            <div class="float-right"><a href="{{baseUrl}}/artists/edition/{{ result.id_a }}" class="btn btn-sm btn-success mr-1">Edit</a>
            <a href="{{baseUrl}}/artists/suppression/{{ result.id_a }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Suppression</a></div>

        {% endif %}

		<div class="row">

			<div class="col-md-3">

                <img class="img-thumbnail" src="{{baseUrl}}/{{ result.photo_a }}" alt="image film" style="max-height:300px;"/>

			</div>

			<div class="col-md-9">

                <div class="col-md-12">

                    <h1>{{ result.prenom_a|title }}  {{ result.nom_a|title }}</h1>
                    Date De Naisance : 
                    
                    <ul>
                    
                        <li>{{result.date_de_naissance_a}}</li>

                    </ul>

                </div>

                <div class="col-md-12 mt-5">

                    <h3>Biographie</h3>
                    <p>{{result.biographie_a}}  </p>

                </div>

                {% if result.films_jouer %}

                    <div class="p-2">
                    
                        Films dans lesquels {{ result.prenom_a|title }}  {{ result.nom_a|title }} a joué : 

                        <ul>

                            {% for film in result.films_jouer %}
                                <li><a href="../../films/show/{{ film.id_f }}">{{ film.titre_f|title }}</a></li>
                            {% endfor %}

                        </ul>

                    </div>

                {% endif %}

                {% if result.films_realiser %}

                    <div class="p-2">
                    
                        Films réalisés par {{ result.prenom_a|title }}  {{ result.nom_a|title }} : 

                        <ul>

                            {% for film in result.films_realiser %}
                                <li><a href="../../films/show/{{ film.id_f }}">{{ film.titre_f|title }}</a></li>
                            {% endfor %}

                        </ul>

                    </div>

                {% endif %}

			</div>

		</div>

	</div>

{% endblock %}